body {
  font-family: 'Bodoni', Segoe UI, sans-serif;
  color: #F6BD60; /* Hunyadi Yellow */
  font-size: 1.2em;
  background-color: #2A3B4D; /* Charcoal */
  padding: 25px;
  max-width: 1200px; /* Set maximum width */
  margin: 0 auto; /* Center the content */
}


header {
  margin: 25px 50px;
  text-align: center;
  color: #84A59D; /* Cambridge Blue */
}

h2, h3 {
  margin: 25px 50px;
  text-align: center;
  color: #F28482; /* Light Coral */
}

main p {
  margin: 10px 50px;
  font-family: Bodoni;
  color: #F6BD60; /* Hunyadi Yellow */
}

p a:link, li a:link {
  text-decoration: none;
  color: #F6BD60; /* Hunyadi Yellow */
}

p a:visited, li a:visited {
  text-decoration: none;
  color: #84A59D; /* Cambridge Blue */
}

p a:hover, li a:hover {
  text-decoration: underline;
  color: #F28482; /* Light Coral */
}

figure {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center; 
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #84A59D; /* Cambridge Blue */
}

  #font-boxes {
    color: #F6BD60; /* Hunyadi Yellow */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* for Responsive columns */
    margin: 0 auto;
    gap: 20px;
    max-width: 1000px; 
  }
  
.bodoni, .segoe {
  text-align: center;
  font-family: Bodoni;
  padding: 15px;
  border: 1px solid #84A59D; /* Cambridge Blue */
}

nav {
  font-size: 2em;
  font-weight: bold;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: #F28482; /* Light Coral */
}

nav a:visited {
  color: #F6BD60; /* Hunyadi Yellow */
}

nav a:hover {
 text-decoration: none;
 color:#F28482; /* Light Coral */
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  color: #84A59D; /* Cambridge Blue */
  max-width: 1200px;
  width: 90%; /* adapts to smaller screens */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  footer {
    font-size: 0.9em; 
    padding: 5px; 
  }
}
