body {
  /* https://coolors.co/16166b-e3d6c3-f13535 */
  font-family: 'Bodoni', Segoe UI, sans-serif;
  color: #EBE9E9; /* Platinum */
  font-size: 1.2em;
  background-color: #3581B8/* Steel Blue */;
  margin: 25px 50px;
}

header {
  margin: 25px 50px;
}

h2, h3, h4 {
  margin: 25px 50px;
}

main p {
  margin: 10px 50px;
  font-family: Bodoni;
}

.nav-style {
  font-size: 1.6em;
}

.nav-style a:hover {
 text-decoration:none;
 color: #f13535; /*Vermillion*/
}

.nav-style a {
  font-size: 20px;
  text-decoration: none;
  color: #16166B; /*Federal Blue*/
}

.href-intro a:link {
  text-decoration: none;
  color:#EBE9E9; /*Platinum*/
}

.href-intro a:visited {
  text-decoration: none;
  color: #16166B; /*Federal Blue*/
}

.href-intro a:hover {
  text-decoration: underline;
  color: #f13535; /*Vermillion*/
}

.brand-image {
  margin: 25px 50px;
}

#font-boxes {	  
  color: #16166B; /*Federal Blue*/
  display: grid;
  grid-template-columns: 400px 400px;
}

.bodoni {
  text-align: center;
  font-family: Bodoni;
  padding: 15px;
  border: 1px solid #EBE9E9; /*Platinum*/
}

.segoe {
  text-align: center;
  font-family: Segoe UI;
  padding: 15px;
  border: 1px solid #EBE9E9; /*Platinum*/
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
  text-align: center;
  margin: auto 250px;
}
