body
{
  /* https://coolors.co/003844-006c67-f194b4-ffb100-ffebc6 */
  margin-left: 100px;
  margin-right: 100px;
  font-family: Tahoma, Arial, sans-serif;
  color: #F2E1C8;/*Cream Color*/
  background-color: #1C005F;/*Navy Blue*/
  
}


header {
  margin: 10px;
  text-align: center;
}

h1, h2 { 
 font-family: Times, serif;
}

h2 {
text-align: center;
}

.center-image {
    text-align: center;
}
.center-horizontal {
	text-align: center;
}
.nav-style a {
  text-decoration: none;
  color: #F2E1C8; 
}

.nav-style a:hover {
  text-decoration: underline;
  color: white;
}

.nav-style a:visited {
  text-decoration: none;
  color: #E8E2F7;
}
.href-intro a {
  text-decoration: none;
  color: #F2E1C8 
}

.href-intro a:hover {
  text-decoration: underline;
  color: white;
}

.href-intro a:visited {
  text-decoration: none;
  color: #F2E1C8;
}


p { 
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
	margin-left: 10px;
	text-align: center;
}
